// Moravia Ambulance
// CZ, 2024, Customer: Zernosek Olha
// Developer: Bezrodnyi Oleksandr

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// Used vars
$deep_blue: #1a3489;
$gray_blue: #4a779d;
$gray_blue_50: #4a779d25;

body {
    font-family: Poppins;
}

h2, h3, h4 {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    font-size: 40px;
    color: $gray_blue;
    padding: 52px 0px 40px 0px;
}

header {
    background-image: url(../img/jpg/Mohelnice_View_bg.jpg);
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    .wrapper {
        max-width: 1200px;
        margin: auto;
        position: relative;
        nav {
            display: flex;
            padding: 12px 24px;
            align-items: center;
            justify-content: space-between;
            .logo {
                img {
                    height: 40px;
                    width: 100%;
                }
            }
            .menu {

                ul {
                    display: flex;
                    flex-direction: row;
                    gap: 40px;
                    li {
                        list-style: none;
                        &:hover {
                            border-bottom: 1px solid #40e0d0;
                            background-color: #21212130;
                        }
                        a {
                            text-decoration: none;
                            text-transform: uppercase;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .header_info {
            background-color: #40e0d075;
            max-width: 420px;
            display: flex;
            flex-direction: column;
            // padding: 100px 50px;
            padding: 60px;
            border-radius: 24px;
            position: absolute;
            top: 140px;
            left: 40px;
            
            h1, h1 span {
                font-size: 48px;
                font-weight: 500;
                color: #fff;
                span {
                    font-weight: 700;
                }
            }
            span {
                font-size: 24px;
                font-weight: 400;
                color: #fff;
            }
        }
    }
}
.actuality {
    .wrapper {
        padding: 0px 40px;
        h3 {
            font-size: 28px;
            font-weight: 400;
            margin-bottom: 40px;
            span {
                color: $gray_blue;
            }
        }
        p {
            text-align: center;
            margin-bottom: 20px;
        }
        .content {
            max-width: 600px;
            text-align: justify;
            display: block;
            margin: auto;
            padding-bottom: 12px;
            &:last-of-type {
                margin-bottom: 60px;
            }
        }
        .about_cover {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 0 120px 100px;
            .up_part, .mid_part, .lower_part {
                display: flex;
                justify-content: space-between;
                .up_part_content, .mid_part_content, .lower_part_content {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    div {
                        display: flex;
                        flex-direction: column;
                        padding: 120px;
                        background-color: #f0f8ff80;
                        border-radius: 12px;
                        border: 1px solid $gray_blue_50;
                        a {
                            font-size: 48px;
                            color: #fff;
                            background-color: $deep_blue;
                            padding: 12px 44px;
                            border-radius: 12px;
                            text-align: center;
                            &:hover {
                                background-color: $gray_blue;
                                color: #212121;
                            }
                        }
                        span {
                            font-weight: 500;
                            padding-top: 32px;
                            &:last-of-type {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                gap: 12px;
                            }
                            a {
                                background-color: $gray_blue;
                                padding: 4px 8px;
                                font-size: 12px;
                                min-width: 80px;
                                align-self: flex-end;
                                box-shadow: 0px 0px 4px #40e0d0;
                            }
                        }
                        span.download {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &::before {
                                content: url(../img/svg/pdf_file_icon.svg);
                                display: block;
                            }
                            a {
                                align-self: center;
                            }
                        }
                    }
                    img {
                        width: auto;
                        max-height: 300px;
                    }
                }
            }
            
        }
    }
}
.work_hours {
    // background-color: $deep_blue;
    // background: rgb(26,52,137);
    background: linear-gradient(114deg, rgba(26,52,137,1) 0%, rgba(64,224,208,1) 37%, rgba(74,119,157,1) 100%);
    .wrapper {
        padding: 0px 40px 40px;
        .table {
            margin: auto;
            border: 1px solid #21212150;
            border-radius: 12px;
            padding: 20px;
            color: #212121;
            caption {
                color: #fff;
                margin-bottom: 20px;
                font-weight: 300;
            }
            thead {
                tr {
                    &:hover {
                        background-color: transparent;
                    }
                }
                th {
                    width: 120px;
                    &:first-of-type {
                        text-align: left;
                    }
                    &:nth-child(2), &:nth-child(4) {
                        background-color: #F6B73B;
                        border-radius: 8px;
                    }
                    &:nth-child(3), &:nth-child(5) {
                        background-color: #1a3489;
                        border-radius: 8px;
                        color: #fff;
                    }
                }
            }
            tr {
                &:hover {
                    background-color: #ffffff50;
                }
            }
            tbody {
                th {
                    text-align: left;
                }
            }
            td {
                text-align: center;
            }
        }
    }
}
.insurence {
    .wrapper {
        padding: 0px 40px;
        .owl-carousel {
            .owl-item {
                padding: 12px;
                border: 1px solid $gray_blue_50;
                border-radius: 12px;
                margin-right: 40px;
                img {
                    height: 100px;
                    width: auto;
                    margin: auto;
                }
            }
        }
    }
}
footer {
//     // background: rgb(255,255,255);
// background: linear-gradient(180deg, rgba(255,255,255,1) 8%, rgba(64,224,208,1) 39%, rgba(26,52,137,1) 100%);
    background-color: $deep_blue;
    .wrapper {
        padding: 0px 40px;
        .footer_content {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            padding: 40px;
            .logo_icon {
                opacity: 0.5;
                img {
                    max-width: 120px;
                }
            }
        }
        .desc {
            display: flex;
            gap: 60px;
            article {
                max-width: 200px;
                &:nth-child(2) {
                    border-right: 1px solid #40e0d033;
                    padding-right: 60px;
                }
                &:last-of-type {
                    ul {
                        li {
                            color: #40e0d0;
                            span {
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                h3 {
                    color: #fff;
                    border-bottom: 1px solid #40e0d0;
                    margin-bottom: 20px;
                }
                ul {
                    li {
                        list-style: none;
                        margin-bottom: 12px;
                        padding: 4px;
                        &:hover {
                            background-color: $gray_blue;
                        }
                        a {
                            color: #fff;
                        }
                    }
                }
            }
        }
        .map {
            iframe {
                width: 300px;
                height: 300px;
                border-radius: 12px;
            }
        }
    }
}
